extends base

block content
    section(style="background-color: #eee;")
      div(class="container py-4")
        div(class="row")
          include conversations
          include chatArea
          